.style-transfer-bg {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #8FBC8F;
}

.jumbo {
  padding: 5em;
}

.style-img{
  height:100px;
}
