.styleTransfer {
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('images/w-atmosphere-bg.jpg');
}

.jumbo {
  padding: 10em;
}

.styleImg{
  height:100px;
}
